*.pdf
*.log
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.ist
*.lof
*.lot
*.out
*.toc
TwitterCC/lib/
TwitterCC/dist/
TwitterCC/nbproject/
TwitterCC/*.freq
TwitterCC/*.sqlite
TwitterCC/*.properties
TwitterCC/build/